.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.cart_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: span 8;

    .cart_content_top {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }
    
    .cart_item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
        border: none;
        border-top: 0.5px solid #CACDD8;
        padding-top: 32px;
        padding-bottom: 32px;
    
    }
    
    .cart_item-box {
        display: flex;
        gap: 32px;
    }
    
    .cart_item_info {
        display: flex;
        justify-content: space-between;
    }
    
    .cart_product-name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 14px;
    }
    
    .cart_product-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        width: 276px;
        margin-bottom: 16px;
    }
    
    .cart_product-price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }
    
    .cart_text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 14px;
        padding-right: 35px;
    }
    
    .cart_link-box {
        display: flex;
        gap: 30px;
    }
    
    .cart_link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-decoration-line: underline;
        color: #000000;
        margin-top: 15px;
        transition: 0.4s;

        &:hover {
            color: #888888;
        }
    }
    
    .cart_quantity {
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        border: none;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        padding-right: 24px;
        padding-left: 20px;

            &:focus {
                outline: none;
            }
    }

    .cart_button-box {
        margin-top: 50px;
    }
    
    .cart_button {
        background-color: #fff;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
        width: 200px;
        height: 37px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        transition: 0.4s;
        &:hover {
            transform: scale(1.05);
            background-color: #000000;
            color:#FFFFFF;
            cursor: pointer;
        }
    }    
}

.form {
    background: #F7F6F6;
    border-radius: 20px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 379px;
    align-items: center;
    grid-column: span 4;

    .form_heading {
        margin-top: 42px;
        margin-bottom: 35px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    
    .form_input-box {
        display: flex;
        flex-direction: column;
        gap: 44px;
        margin-bottom: 68px;
    }
    
    .form_input {
        background: #F7F6F6;
        border: none;
        border-bottom: 1px solid #CACDD8;
        &:focus {
            outline: none;
        }
    }
    
    .form_input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    
    .submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form_button {
        border: 1px solid #040404;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        width: 290px;
        height: 41px;
        margin-bottom: 148px;
        transition: 0.4s;
        &:hover {
            transform: scale(1.05);
            background-color: #000000;
            color:#FFFFFF;
            cursor: pointer;
        }
    }
    
    .form_text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 28px;
    }    
}

.link-box_cart {
    margin-top: 32px;
    padding-bottom: 64px;
}

.link-box_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
}

.product-box_cart {
    margin-top: 74px;
    margin-bottom: 64px;
}





