@import 'vars';

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.footer_link:hover {
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(../assets/img/topbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top_catalog {
    height: 400px;
    background-image: url(../assets/img/catalogbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 77px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    .header_input {
        height: 41px;
        width: 288px;
        border: 1px solid $color-text;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $color-text;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
    }

    .header_input::placeholder {
        color: $color-text;
    }

    .header_navigation {
        display: flex;
        gap: 32px;
    }

    .nav_link {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $color-text;
        transition: 0.4s;
    }

    .menu_mobile {
        display: none;
    }
}

.catalog_nav-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 64px;
}

.breadcrumb {
    list-style-type: none;
    display: flex;
}

.breadcrumb li + li:before {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    content: '/\00a0';
}

.list_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding: 10px;
    transition: 0.4s;

    &:hover {
        text-decoration: underline;
        color: #888888;
    }
}

.select {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px 75px 10px 14px;
    appearance: none;
    background-image: url(../assets/img/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 25px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $color-text;
    max-width: 792px;
    margin-top: 80px;
}

.title_text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: $color-text;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: $color-text;
    transition: 0.4s;
}

.title_link:hover {
    transform: scale(1.05);
    display: inline-block;
}

.for-box {
    padding-top: 64px;
    margin-bottom: 64px;
}

.for {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.for_item {
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    &:hover {
        transform: scale(1.05);
        box-shadow: 1px 1px 20px 5px #888888;
    }
}

.for_item_link {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.for_item-big {
    grid-column: span 6;
}

.for_item_1 {
    background-image: url(../assets/img/for_1.jpg);
}

.for_item_2 {
    background-image: url(../assets/img/for_2.jpg);
}

.for_item_3 {
    background-image: url(../assets/img/for_3.jpg);
}

.for_item_4 {
    background-image: url(../assets/img/for_4.jpg);
}

.for_item_5 {
    background-image: url(../assets/img/for_5.jpg);
}

.product-box {
    margin-top: 12px;
    margin-bottom: 12px;
}

.product-content {
    display: flex;
    row-gap: 56px;
    flex-wrap: wrap;
    column-gap: 32px;
}

.product-content_catalog {
    margin-top: 41px;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    padding: 5px;
    border-radius: 5px;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px 5px #888888;
}

.product_icons {
    position: absolute;
    gap: 26px;
    left: 80%;
    padding: 13px 12px 0px 0px;
    display: none;
    transition: 0.4s;
}

svg.cart_icon {
    fill: #c4c4c4;
    &:hover {
        fill: white;
        filter: brightness(100%);
    }
}

.product:hover .product_icons {
    display: flex;
}

.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 32px;
}

.product-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
}

.product-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 13px;
    margin-top: 9px;
    width: 379px;
}

.product-price_box {
    display: flex;
    gap: 32px;
}

.product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.product-price-sale {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.link-box {
    margin-bottom: 64px;
    margin-top: 39px;
}

.link-box_catalog {
    margin-top: 32px;
    padding-bottom: 64px;
}

.link-box_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 32px;
    transition: 0.4s;
}

.link-box_link:hover {
    color: #888888;
    text-decoration: none;
}

.footer {
    background: #f7f6f6;
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    transition: all 0.4s;
    &:hover {
        transform: scale(1.05);
    }
}

.footer_heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer_content {
    width: 792px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_info {
    display: flex;
    gap: 129px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

svg.footer_icons {
    fill: #888888;
    transition: 0.4s;
    &:hover {
        fill: black;
    }
}

svg.logo_bottom {
    fill: #000000;
}

.footer_link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    transition: 0.4s;

    &:hover {
        transition: 0.4s;
        color: #000000;
        text-decoration: underline;
    }
}

.footer_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.email {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    background: $color-text;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;

    &:focus {
        outline-color: black;
    }
}

.email_button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid $color-text;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: all 0.4s;

    &:hover {
        background: #000000;
        border: 1px solid #ffffff;
        color: #ffffff;
        cursor: pointer;
        transform: scale(1.05);
    }
}

.top_cart {
    height: 400px;
    background-image: url(../assets/img/topсart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.cart_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: span 8;

    .cart_content_top {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    .cart_item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
        border: none;
        border-top: 0.5px solid #cacdd8;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .cart_item-box {
        display: flex;
        gap: 32px;
    }

    .cart_item_info {
        display: flex;
        justify-content: space-between;
    }

    .cart_product-name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 14px;
    }

    .cart_product-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        width: 276px;
        margin-bottom: 16px;
    }

    .cart_product-price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    .cart_text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 14px;
    }

    .cart_link-box {
        display: flex;
        gap: 30px;
    }

    .cart_link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-decoration-line: underline;
        color: #000000;
        margin-top: 15px;
    }

    .cart_quantity {
        width: 71px;
        height: 51px;
        background: #f7f6f6;
        border-radius: 6px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .cart_button-box {
        margin-top: 50px;
    }

    .cart_button {
        background-color: #fff;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
        width: 200px;
        height: 37px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.form {
    background: #f7f6f6;
    border-radius: 20px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 379px;
    align-items: center;
    grid-column: span 4;

    .form_heading {
        margin-top: 42px;
        margin-bottom: 35px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }

    .form_input-box {
        display: flex;
        flex-direction: column;
        gap: 44px;
        margin-bottom: 68px;
    }

    .form_input {
        background: #f7f6f6;
        border: none;
        border-bottom: 1px solid #cacdd8;
    }

    .form_input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    .submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form_button {
        border: 1px solid #040404;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        width: 290px;
        height: 41px;
        margin-bottom: 148px;
    }

    .form_text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 28px;
    }
}

.product-box_cart {
    margin-top: 74px;
    margin-bottom: 64px;
}

@import 'cart';
@import 'tablet';
@import 'mobile';
